
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
      <div class="container text-center py-5 mt-4">
          <h1 class="display-2 text-white mb-3 animated slideInDown">Appoinment</h1>
          <nav aria-label="breadcrumb animated slideInDown">
              <ol class="breadcrumb justify-content-center mb-0">
                  <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                  <li class="breadcrumb-item"><a >Pages</a></li>
                  <li class="breadcrumb-item" aria-current="page">Appoinment</li>
              </ol>
          </nav>
      </div>
  </div>
  <!-- Page Header End -->

<mat-stepper #stepper>
  <form [formGroup]="paitentFormGroup" >
    <mat-step [stepControl]="paitentFormGroup">

      <ng-template matStepLabel>Basic Details</ng-template>
      <mat-card>
        <mat-card-content>
          <div class="row mt-3">
            <div class="col-3 mt-3">
              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First name" formControlName="firstName" required>
              </mat-form-field>
            </div>
            <div class="col-3 mt-3">
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" formControlName="lastName" required>
              </mat-form-field>
            </div>

            <div class="col-3 mt-3">
              <mat-form-field appearance="outline">
                <mat-label>Mobile No</mat-label>
                <input matInput placeholder="Mobile No" formControlName="mobileNo" required>
              </mat-form-field>
            </div>
            <div class="col-3 mt-3">
              <mat-form-field appearance="outline">
                <mat-label>Emergency Contect No</mat-label>
                <input matInput placeholder="Emergency Contect" formControlName="emergencyContectNo" required>
              </mat-form-field>
            </div>
            <div class="col-3 mt-3">
              <mat-form-field>
                <mat-label>Choose a Birthdate</mat-label>
                <input matInput [matDatepicker]="picker" formControlName ="birthDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-3 mt-3">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" required>
              </mat-form-field>
            </div>
            <div class="col-4 mt-3">
              <mat-radio-group aria-label="Gender" appearance="outline" color="primary" formControlName="gender">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-6 mt-3">
              <mat-form-field appearance="outline" class="col-10">
                <mat-label>Address</mat-label>
                <textarea matInput placeholder="Address" formControlName="address"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div>
            <button class="btn btn-primary" matStepperNext>Next</button>
          </div>
        </mat-card-content>
      </mat-card>

    </mat-step>
    <mat-step  label="Medical Details">

      <mat-card>
        <mat-card-content>
          <div class="row">
            <mat-label>Blood Group</mat-label>
            <mat-radio-group aria-label="BloodGroup" appearance="outline" color="primary" formControlName="bloodGroup">
              <mat-radio-button style="margin-left:25px" value="A+">A+</mat-radio-button>
              <mat-radio-button style="margin-left:25px" value="A-">A-</mat-radio-button>
              <mat-radio-button style="margin-left:25px" value="B+">B+</mat-radio-button>
              <mat-radio-button style="margin-left:25px" value="B-">B-</mat-radio-button>
              <mat-radio-button style="margin-left:25px" value="O+">O+</mat-radio-button>
              <mat-radio-button style="margin-left:25px" value="O-">O-</mat-radio-button>
              <mat-radio-button style="margin-left:25px" value="AB+">AB+</mat-radio-button>
              <mat-radio-button style="margin-left:25px" value="AB-">AB-</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <mat-form-field appearance="outline" class="col-9" >
                <mat-label>Medical Issue For Visite Doctor</mat-label>
                <textarea matInput placeholder="" formControlName="medicalIssue"></textarea>
              </mat-form-field>
            </div>

          </div>
          <div>
            <button class="btn btn-primary" style="margin-right: 7px;" matStepperPrevious>Back</button>
            <button class="btn btn-primary" matStepperNext>Next</button>
          </div>
        </mat-card-content>
      </mat-card>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Shedule Visite</ng-template>
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-4">
              <mat-form-field>
                <mat-label>Select Doctor</mat-label>
                <mat-select formControlName="doctorid">                  
                  <mat-option *ngFor="let doc of doctorList" value="{{doc.employeeId}}"> {{doc.employeeCode}}  -  {{doc.employeeName}} - {{doc.qualification}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Choose a Doctor Visite date</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="visiteDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-4">
                <mat-label>Choose a Timeing</mat-label>
              <mat-radio-group aria-label="Time" appearance="outline" color="primary" formControlName="timeingShift">
                <mat-radio-button value="10 AM To 01 PM">Between : 10 AM To 01 PM</mat-radio-button>
                <mat-radio-button value="02 PM To 06 PM">Between : 02 PM To 06 PM</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div>
            <button class="btn btn-primary" style="margin-right: 7px;" matStepperPrevious>Back</button>
            <button class="btn btn-danger" style="margin-right: 7px;" (click)="stepper.reset()">Reset</button>
            <button class="btn btn-success" (click)="makeAppointment()">Make Appointment</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-step>
  </form>
</mat-stepper>


